<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{site.description}}" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    {% stylesheet app %}

    <!--[if lte IE 9]><link rel="stylesheet" href="{{ site.url }}/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><link rel="stylesheet" href="{{ site.url }}/css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="{{ site.url }}/css/ie7.css" /><![endif]-->
  </head>

  <body class="left-sidebar">

    <div id="titlebar" class="skel-panels-overlay skel-panels-overlay-top-left">
      <div class="toggle" id="slide-menu-button">
      </div>
      <div class="title">
          <h1> {{site.title}} </h1>
      </div>
    </div>
    
    <div id="wrapper">

        <div id="content">

          <div id="content-inner">
        
            {{ content }}
          
          </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo -->
            <a href="{{ site.url }}/">
              <div id="logo">
                <h1> {{site.title}} </h1>
              </div>
            </a>

            <!-- Nav -->
            {% comment %}
            Build a list of static pages as defined in "_data/menus.yml"
            Then add a list of the 5 most recent posts.
            {% endcomment %}
            <nav class="nav">
              <ul>
                {% for menu in site.data.menus %}
                  {% if page.url == menu.url %}
                    <li class="current_page_item"><a href="#">{{menu.name}}</a></li>
                  {% else %}
                    <li><a href="{{menu.url}}">{{menu.name}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
            <nav class="nav">
              <header>
                <h2>Recent Posts</h2>
              </header>
              <ul>
                {% for post in site.posts limit:5 %}

                  {% if page.url == post.url %}
                    <li class="current_page_item"><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% else %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>

          <!-- Text -->
            <section class="is-text-style1">
              <div class="inner">
                <p>
                  <a href="/">{{site.title}}</a>:<br />
                  {{site.description}}
                </p>
              </div>
            </section>
          
          <!-- Copyright -->
            <div id="copyright">
              <p>&copy; {{site.time | date: "%Y"}} {{site.copyright}}</p>
            </div>

        </div>
    </div>


    {% if site.disqus.shortname %}
      {% include disqus_count.html %}
    {% endif %}
    
    <script type="text/javascript">
      {% asset toggleSidebar %}
    </script>
  </body>
</html>
